<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SeeMpls Twitter</title>
  </head>

<style>
  body{
    background-color: gray;
  }

  h1{
    font-style: normal;
    font-weight: 700;
  }
</style>


  <body>
    <h1>The SeeMpls Twitter Bot</h1>
    <hr>
    <h2>What does it do?</h2>
    <p>Once a day, it tweets a random picture of Minneapolis, Minnesota!</p>
    <p>Click <a href="http://www.twitter.com/see_mpls" target="_blank">HERE</a> to visit it!</p>
  </body>
</html>
